#carousel.carousel.slide(data-ride="carousel")
    .carousel-inner
        .carousel-item.active
            img.d-block.w-100(src="img/1.jpg")
        .carousel-item
            img.d-block.w-100(src="img/2.jpg")
        .carousel-item
            img.d-block.w-100(src="img/3.jpg")
        .header-brand
            h1 Bypass Nurseries