footer.bg-dark
    .container
        .row
            .col-md-8.my-5.text-white
                h3 Bypass Nurseries
                p A46 Evesham Bypass <br/> Evesham <br/ >Worcestershire <br/> WR11 8UB
                button.btn.btn-outline-light.btn-sm(type="button", href="mailto:info@bypass-nurseries.co.uk")
                    i.fas.fa-envelope-open-text  Email
                button.btn.btn-outline-light.btn-sm(type="button", href="tel:01386424218")
                    i.fas.fa-mobile-alt  Phone

            .col-md-4.my-5.mx-auto
                ul.nav.flex-column.nav-fill
                    li.nav-item
                        a.nav-link(href="#home") Home
                    li.nav-item
                        a.nav-link(href="#about") About
                    li.nav-item
                        a.nav-link(href="#weather") Weather
                    li.nav-item
                        a.nav-link(href="#contact") Contact
        .row
            .col-12.text-white.d-flex.justify-content-end
                i.far.fa-copyright(aria-hidden='true')  Bypass Nurseries 2019
// JQuery js
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
// Bootstrap js
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
// Materalize js
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
// Wow js
script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
// Main js
script(src="js/main.js")
