.navbar.navbar-expand-md.navbar-dark.bg-dark
    a.navbar-brand(href="index.html") Bypass Nurseries
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar
        ul.navbar-nav.ml-auto
            li.nav-item
                a.nav-link(href="#home") Home
            li.nav-item
                a.nav-link(href="#about") About
            li.nav-item
                a.nav-link(href="#weather") Weather
            li.nav-item
                a.nav-link(href="#contact") Contact