.carousel-inner
    height: 200px
    @media (min-width: 768px)
        height: 350px
    @media (min-width: 992px)
        height: 500px
    .header-brand
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background-color: rgba(0,0,0,0.6)
        display: flex
        justify-content: center
        align-items: center
        color: #ffffff
        z-index: 9999
        h1
            font-size: 1.4rem
            padding: 1rem 2rem
            font-family: $header-font
            letter-spacing: .5rem
            border: .2rem solid #fff
            @media (min-width: 768px)
                font-size: 2.7rem
                padding: 2rem 3rem
                border-width: .22rem
                letter-spacing: 1rem
            @media (min-width: 992px)
                font-size: 3rem
                padding: 3rem 5rem
                border-width: .25rem
                letter-spacing: 2rem
            