.nav
    li.nav-item
        a.nav-link
            color: darken(#fff, 25%)
            &:hover
                color: darken(#fff, 55%)
.fab
    font-size: 2rem
    margin: 1rem 2rem
    color: #ffffff
    &:hover
        animation-name: heartBeat
        animation-duration: 1.3s
        animation-timing-function: ease-in-out